/**/
.boton-verde {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: yellowgreen;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}
.boton-gris {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(179, 171, 171);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

.shop-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
  max-width: 300px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial;
}
.card > img{
  width: 90%;
  height: 250px;
}
/* PAGINA DETALLE*/

.text {
  background-color: rgb(238, 238, 238);
  font-size: calc(1.375rem + 1.5vw);
  text-align: center;
  border: none;
}
.product {
  background-color: white;
  border: 1px solid #E0E0E0;
  border-radius: 10px;
  padding: 20px;
  text-align: center;
  width: 250px;
}

.detalle {
  text-align: center;
  flex: auto;
  max-width: 100%;
  height: auto;

}
img {
  max-width: 300px;
  flex: auto;
  height: auto;
}
/* Carrito */
.ver-carrito{
  font-size: 25px;
  margin-right: 20px;
  margin-top: 3.5vh;
  cursor: pointer;
}
.fa-solid {
  text-align: center;
  padding: 10px;
  color: #15cc15; /* Color del icono */
}


/* VENTANA MODAL */
.boton-cerrar{
  cursor: pointer;
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: rgb(179, 171, 171);
  text-align: center;
  cursor: pointer;
  width: 10%;
  font-size: 18px;
  padding: 10px 20px;
  cursor: pointer;
}
.modal-container{
  width: 80%;
  margin: 0 10%;
  max-height: 88vh;
  color: black;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  overflow: auto;
  z-index: 9;
  top: 12vh;
  scrollbar-color: none;
}
.modal-container::-webkit-scrollbar{
  display: none;
}
.modal-header{
  display: flex;
  justify-content: space-around;
  background-color: black;
  color: bisque;
  width: 100%;
}
.modal-container > .modal-content{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;
  margin: 10px;
}

.modal-container > div > img {
  height: auto;
  width: auto;
}
.total-content{
  color: #E0E0E0;
  font-size: 30px;
  padding: 20px;
  text-align: center;
  padding-top: 20px;
}
.boton-quitar{
  color: white;
  background-color: rgb(179, 171, 171);
  text-align: center;
  font-size: 18px;
  padding: 10px 15px;
  cursor: pointer;
}
.footer {
  background-color: #333; /* Color de fondo del footer */
  color: #fff; /* Color del texto */
  text-align: center;
  padding: 20px 0;
}

/* Estilos para los iconos de redes sociales */
.social-icons {
  font-size: 24px;
  margin-bottom: 10px;
}

.icon {
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
  transition: color 0.3s ease-in-out;
}

.icon:hover {
  color: #007bff; /* Color al pasar el cursor sobre los iconos */
}

.sumar{
  cursor: pointer;
}

.restar{
  cursor: pointer;
}