/* styles.css */
.navbar {
  background-color: yellowgreen;
  overflow: hidden; /* Para ocultar elementos desbordados */
}

.boton-detalle{
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: yellowgreen;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}
.shop-content{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}
.card{
  box-shadow: 0 4px 8px 0 rgb(0,0,0,0.2);
  max-width: 300px;
  margin-top: 30px;
  text-align: center;
  font-family: Arial;
}
.card > img{
  width: 90%;
  height: 250px;
}

